<configuration>
	<algorithm name="metaheuristics.RandomSearch">
		<tries>1000</tries>
		<solution>problems.knapsack.SolutionKnapsack</solution>
		<solGenerator name="problems.knapsack.SolGeneratorKnapsack">
			<probability>0.01</probability>
		</solGenerator>
		<instance name="problems.knapsack.InstanceKnapsack">
			<data>examples/KPInstances/kp5.csv</data>
		</instance>
		<seed>1234</seed>
	</algorithm>
</configuration>
