<configuration>
	<algorithm name="metaheuristics.RandomSearch">
		<tries>10000000</tries>
		<solution>problems.tsp.SolutionTSP</solution>
		<solGenerator name="problems.tsp.SolGeneratorTSP"></solGenerator>
		<instance name="problems.tsp.InstanceTSP">
			<data>examples/TSPInstances/d2103.tsp</data>
		</instance>
	</algorithm>
</configuration>
