<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<tries>10000</tries>
		<solution>problems.tsp.SolutionTSP</solution>
		<solGenerator name="problems.tsp.SolGeneratorTSP"></solGenerator>
		<instance name="problems.tsp.InstanceTSP">
			<data>examples/TSPInstances/d2103.tsp</data>
		</instance>
		<explorator name="metaheuristics.localsearch.FISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.NodeInversionTSP</operator>
		</explorator>
	</algorithm>
</configuration>
