<configuration>
	<algorithm name="metaheuristics.SimulatedAnnealing">
	
		<initialTemperature>50</initialTemperature>
		<minimumTemperature>3</minimumTemperature>
		<acceptanceRule>logistic</acceptanceRule>
		<coolingScheme>cauchy</coolingScheme>
		<coolingRatio>0.7</coolingRatio>
		
		<solution>problems.knapsack.SolutionKnapsack</solution>
		<solGenerator name="problems.knapsack.SolGenRandomKP">
			<probability>0.01</probability>
		</solGenerator>
		
		<instance name="problems.knapsack.InstanceKnapsack">
			<data>examples/KPInstances/knapPI_1_10000_1000000.csv</data>
		</instance>
		
		<explorator name="metaheuristics.localsearch.RandomNeighExplorator">
			<operator>metaheuristics.localsearch.operator.BitInversionKP</operator>
		</explorator>
		
	</algorithm>
</configuration>