<configuration>
	<algorithm name="metaheuristics.CHC">
	
		<nPopulation>20</nPopulation>
		<percentThreshold>0.01</percentThreshold>
		
		<maxTime>10s</maxTime>
		
		<selection name="metaheuristics.evolutive.ElitistSelection">
		</selection>
		
		<crossover name="problems.knapsack.crossover.HUXKP">
		</crossover>
		
		<solution>problems.knapsack.SolutionKnapsack</solution>
		<solGenerator name="problems.knapsack.SolGenRandomKP">
			<probability>0.01</probability>
		</solGenerator>
		
		<instance name="problems.knapsack.InstanceKnapsack">
			<data>examples/KPInstances/knapPI_1_10000_1000000.csv</data>
		</instance>
		
	</algorithm>
</configuration>