<configuration>
 <algorithm name="metaheuristics.CHC">
 
  <nPopulation>20</nPopulation>
  <percentThreshold>0.25</percentThreshold>
  
  <maxTime>60s</maxTime>
  
  <selection name="metaheuristics.evolutive.ElitistSelection">
  </selection>
  
  <crossover name="problems.tsp.crossover.OXTSP">
  </crossover>
  
  <solution>problems.tsp.SolutionTSP</solution>
  <solGenerator name="problems.tsp.SolGenRandomTSP">
   <probability>0.01</probability>
  </solGenerator>
  
  <instance name="problems.tsp.InstanceTSP">
   <data>examples/TSPInstances/ch150.tsp</data>
  </instance>
  
 </algorithm>
</configuration>