<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<seed>2963</seed>
		<tries>1000</tries>
		<solution>problems.knapsack.SolutionKnapsack</solution>
		<solGenerator name="problems.knapsack.heuristics.SolGenRatioKP">
			<probability>0.001</probability>
			<nCandidates>50</nCandidates>
			<startCapacity>1</startCapacity>
		</solGenerator>
		<instance name="problems.knapsack.InstanceKnapsack">
			<data>examples/KPInstances/kp200-1.csv</data>
		</instance>
		<explorer name="metaheuristics.localsearch.BISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.BitInversionKP</operator>
		</explorer>
	</algorithm>
</configuration>