<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<seed>2963</seed>
		<tries>100000</tries>
		<solution>problems.knapsack.SolutionKnapsack</solution>
		<solGenerator name="problems.knapsack.heuristics.SolGenRatioKP">
			<probability>0.01</probability>
			<objSelecion>5</objSelecion>
		</solGenerator>
		<instance name="problems.knapsack.InstanceKnapsack">
			<data>examples/KPInstances/knapPI_1_200_10000.csv</data>
		</instance>
		<explorator name="metaheuristics.localsearch.BISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.BitInversionKP</operator>
		</explorator>
	</algorithm>
</configuration>