<configuration>
	<algorithm name="metaheuristics.RandomThenLocalSearch">
		<tries>100000</tries>
		<randomTries>1</randomTries>
		<localTries>50</localTries>
		<nCandidates>50</nCandidates>
		<solution>problems.tsp.SolutionTSP</solution>
		<solGenerator name="problems.tsp.heuristics.SolGenGreedyRand"></solGenerator>
		<instance name="problems.tsp.InstanceTSP">
			<data>examples/TSPInstances/ch150.tsp</data>
		</instance>
		<explorator name="metaheuristics.localsearch.FISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.NodeSwapTSP</operator>
		</explorator>
	</algorithm>
</configuration>