<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<tries>100</tries>
		<solution>problems.qmkp.SolutionQMKP</solution>
		<solGenerator name="problems.qmkp.heuristics.SolGenRatioQMKP">
			<percentCandidates>0.4</percentCandidates>
			<probability>0</probability>
		</solGenerator>
		<instance name="problems.qmkp.InstanceQMKP">
			<data>examples/QMKPInstances/jeu_100_25_1.txt</data>
		</instance>
		<explorator name="metaheuristics.localsearch.BISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.ChangeBagQMKP</operator>
		</explorator>
		<seed>6546</seed>
	</algorithm>
</configuration>