<configuration>
	<instance>problems.knapsack.InstanceKnapsack</instance>
	<solution>problems.knapsack.SolutionKnapsack</solution>
	<solGenerator>problems.knapsack.SolGeneratorKnapsack</solGenerator>
	<data>/home/i22balur/Documentos/workspace/metaheuristica/pMetaheuristica/examples/KPInstances/knapPI_12_500_1000.csv</data>
	<seed>1234</seed>
</configuration>