<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<tries>100</tries>
		<solution>problems.qmkp.SolutionQMKP</solution>
		<solGenerator name="problems.qmkp.SolGenRandQMKP">
			<probability>0.35</probability>
		</solGenerator>
		<instance name="problems.qmkp.InstanceQMKP">
			<data>examples/QMKPInstances/prueba.txt</data>
		</instance>
		<explorator name="metaheuristics.localsearch.FISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.SwapObjQMKP</operator>
		</explorator>
	</algorithm>
</configuration>