<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<tries>1000</tries>
		<solution>problems.knapsack.SolutionKnapsack</solution>
		<solGenerator name="problems.knapsack.SolGeneratorKnapsack">
			<probability>0.01</probability>
		</solGenerator>
		<instance name="problems.knapsack.InstanceKnapsack">
			<data>examples/KPInstances/knapPI_12_500_1000.csv</data>
		</instance>
		<explorator name="metaheuristics.localsearch.BISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.BitInversionKP</operator>
		</explorator>
		<seed>3151513</seed>
	</algorithm>
</configuration>