<configuration>
	<algorithm name="metaheuristics.LocalSearch">
		<tries>100000</tries>
		<seed>934621</seed>
		<solution>problems.qmkp.SolutionQMKP</solution>
		<solGenerator name="problems.qmkp.SolGenRandQMKP">
			<probability>0.3</probability>
		</solGenerator>
		<instance name="problems.qmkp.InstanceQMKP">
			<data>examples/QMKPInstances/jeu_100_25_1.txt</data>
		</instance>
		<explorator name="metaheuristics.localsearch.FISNeighExplorator">
			<operator>metaheuristics.localsearch.operator.ChangeObjectQMKP</operator>
		</explorator>
	</algorithm>
</configuration>