<configuration>
	<algorithm name="metaheuristics.RandomSearch">
		<tries>1000</tries>
		<solution>problems.qmkp.SolutionQMKP</solution>
		<solGenerator name="problems.qmkp.SolGenRandQMKP">
			<probability>0.5</probability>
		</solGenerator>
		<instance name="problems.qmkp.InstanceQMKP">
			<data>examples\QMKPInstances\prueba.txt</data>
		</instance>
		<seed>1234</seed>
	</algorithm>
</configuration>