<configuration>
	<algorithm name="metaheuristics.RandomSearch">
		<solution>problems.tsp.SolutionTSP</solution>
		<solGenerator>problems.tsp.SolGeneratorTSP</solGenerator>
		<instance name="problems.tsp.InstanceTSP">
			<data>examples/TSPInstances/berlin52.tsp</data>
		</instance>
		<seed>1234</seed>
	</algorithm>
</configuration>