<configuration>
	<algorithm name="metaheuristics.RandomSearch">
		<tries>1000</tries>
		<solution>problems.tsp.SolutionTSP</solution>
		<solGenerator>problems.tsp.SolGeneratorTSP</solGenerator>
		<instance name="problems.tsp.InstanceTSP">
			<data>examples/TSPInstances/d2103.tsp</data>
		</instance>
		<seed>1234</seed>
	</algorithm>
</configuration>